/* To Do */
/* border radius on secondary-nav links */
/* turn span to display:block for h1 in header */
/* Add social images via background-image */ 
/* Add | to footer links */
/* Add tree image */
/* add owl image */ 
/* bold main-nav links */
/* search bar */

cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after{
 clear:both
}

.cf{
*zoom: 1;
}

body { 
  background-color: #69C4CC;
  font-family: 'Muli' sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  margin:0;
  padding: 10px 0;
}

img {
  max-width:100%;
}

a {
 text-decoration: none;
 color: #fff;
}

li {
  list-style-type: none;
}
header { background-color: #CFEFEE; }
nav#main-nav { background-color: #F3CECD; }
section { background-color: #FFFFFF; }

#home-main-section, #home-content {
  padding: 0 2%;
}

/* Grid */

footer {
  padding: 0 10em;
}

section {
  margin: 0 10em;
}
header {
  padding-top: 20px;
}
header ul {
  float: right;
  list-style-type: none;
}

#main-nav {
  clear: both;
}

nav#main-nav a {
  color: #6e1849;
}

section {
  clear:both;
}

header ul li, footer ul li, ul#social li {
  display: inline-block;
}

nav#authentication ul {
  padding: 0;
  margin-right: 12em;
}

#authentication a {
  color: #69C4CC;
}

#home-main-section {
  -webkit-border-top-left-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-topright: 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  min-height: 150px;
}

#home-main-section h1{
  float:left;
  margin-right: 1%;
}

#home-main-section h1 span:first-of-type {
  color: #6d308a;
  display:block;
}

#home-main-section h1 span:first-of-type:before {
  content: "";
  background: url('../images/pink_owl.png');
}

#home-main-section h1 span:last-of-type {
  color: #e8178a;
  display:block;
}

::-webkit-input-placeholder {
  color:#F3CECD;
}

#secondary-nav{
  float: right;
  margin-left: 1%;
  padding-top:30px;
  padding-bottom: 5px;
}

#secondary-nav li {
  border-radius: 30px;
  text-align: center;
  width: 24%;
}

#main-nav {
  padding: 0 10em;
}

#main-nav ul{
  text-align: justify;
  float:left;
  width: 70%;
  margin: 0 2.5% 0 0;
  padding: 10px 0 0 2%;
}

#main-nav li {
  width: auto;
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
}

#main-nav .stretch {
  display:inline-block;
  width: 100%;
}
#main-nav form {
  padding: 10px 2% 0 0;
  float: right;
  margin-left: 1%;
}

#main-nav input[type="text"] {
  border-radius: 30px;
}


#main-nav form label, #main-nav input[type="submit"] {
  display: none;
}



#home-content{
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

#home-content h2{
  color: #8eb53a;
}

#home-content p {
  color: #70bcc2;
}

#secondary-nav {
  float:right	
}

#secondary-nav ul {
  width: 100%;
}

#secondary-nav ul li:first-of-type {
  background: #78cacf;
}

#secondary-nav li:nth-child(2) {
  background: #8eb53a;
}

#secondary-nav li:nth-child(2) {
  background: #8eb53a;
}

#secondary-nav li:nth-child(3){
  background: #6d308a;
}

#secondary-nav li:nth-child(4){
  background: #e8178a;
}

#home-main-section h3 {
  color: #78cacf;
}

#home-left-col {
  width: 57.5%;
  margin-right: 2.5%;
}

#home-right-col {
  width: 37.5%;
  margin-left: 2.5%;
}

.right-col{
  float: right;
  clear: right;
  overflow: auto
}

.left-col {
  float: left;
  clear: left;
  overflow: auto;
}

#social{
  clear: both;
  height: 100px;
}

#social a {
  color: #ccc;
}

#social li {
  width: 24%;
  padding:0;
  height: auto;
  width: 20%;
  margin-right: 5%;
  text-align: center;
}

#social li:nth-child(1){
}

#social li:nth-child(2){ 
}

#social li:nth-child(3){ 
}
#social li:nth-child(4){ 
  margin-right:0;
}

footer ul {
  text-align: center;
}

@media screen and (max-width:1000px) {
  section{
    margin: 0 2em;
  }

#main-nav {
  padding: 0 2em;
}
  #social li {
    width: 47.5%;
    padding:0;
    margin: 0;
    float:left;
    height: auto;
  }

  #social li:nth-child(odd){
    clear: left;
    margin-right: 5%;
  }
}
